body.bg {
    background: url('../img/principal/fondo2.jpg') no-repeat center top fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#menuCuenta {
    background-color: rgba(0, 0, 0, .7);
}

#menuRecursos {
    background-color: rgba(0, 0, 0, .5);
    padding-top: 5px !important;
}

#menuIconos {
    background-color: rgba(0, 0, 0, .5);
    padding-top: 15px !important;
}

.borderless {
    margin: 0px !important;
    border: 0px !important;
    padding: 0px !important;
}

.centradoCeldas {
    width: 7.5%;
}

.centradoDiv60 {
    width: 60%;
}

.centradoDiv70 {
    width: 70%;
}

#menuCuenta img {
    padding-bottom: 6px !important;
}