body.bg {
    background: url('../img/principal/fondo2.jpg') no-repeat center top fixed !important;
    background-color: #000000 !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#menuCuenta {
    background-color: rgba(0, 0, 0, .7);
}

#menuRecursos {
    background-color: rgba(0, 0, 0, .5);
    padding-top: 5px !important;
}

#menuIconos {
    background-color: rgba(0, 0, 0, .5);
    padding-top: 15px !important;
}

.borderless {
    margin: 0px !important;
    border: 0px !important;
    padding: 0px !important;
}

.centradoCeldas {
    width: 7.5%;
}

.centradoDiv60 {
    width: 60%;
}

.centradoDiv70 {
    width: 70%;
}

#menuCuenta img {
    padding-bottom: 6px !important;
}

table.anchofijo {
    table-layout: fixed;
}

.personal1 {
    width: 40%;
    font-size: 13px;
    text-align: center;
    /*opacity: 0.6;*/
}

.active {
    background-color: #495057 !important;
    color: white !important;
    border: 1px solid orange !important;
}

.tab-content>.active {
    display: contents;
}

.cajita {
    background-image: url('/img/juego/skin0/cons-fondo2.png');
    border: 1px solid orange;
    margin-top: 5px;
}

textarea {
    background-image: url('/img/juego/skin0/cons-fondo3.png');
    border: 1px solid cyan;
    margin-top: 5px;
    border-radius: 5px;
}

.input,
.textarea,
.select {
    background-color: #000000;
    color: white;
    border: 1px solid darkgray;
    border-radius: 5px;
}

/*  sliders  */

.c-1-color {
    background: red !important;
}

.c-2-color {
    background: blue !important;
    ;
}

.c-3-color {
    background: yellow !important;
    ;
}

.c-4-color {
    background: green !important;
    ;
}

.c-5-color {
    background: white !important;
    ;
}

.noUi-tooltip {
    display: none !important;
}

.noUi-active .noUi-tooltip {
    display: block !important;
}